[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=HttpUploaderTest
Exec=/opt/HttpUploaderTest/bin/HttpUploaderTest
Icon=HttpUploaderTest
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
